.efomnf { font-size: var(--text-mini-size); line-height: var(--text-mini-line-height); letter-spacing: var(--text-mini-letter-spacing); color: var(--color-text-tertiary); font-weight: var(--font-weight-medium); }
u.efomnf { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.efomnf { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.efomnf { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.efomnf { user-select: none; }
.iSOwhx { font-size: var(--title-8-size); line-height: var(--title-8-line-height); letter-spacing: var(--title-8-letter-spacing); text-wrap: balance; text-align: center; font-weight: var(--font-weight-medium); }
@media (max-width: 768px) {
  .iSOwhx { font-size: var(--title-6-size); line-height: var(--title-6-line-height); letter-spacing: var(--title-6-letter-spacing); }
}
@media (max-width: 640px) {
  .iSOwhx { font-size: var(--title-5-size); line-height: var(--title-5-line-height); letter-spacing: var(--title-5-letter-spacing); }
}
u.iSOwhx { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.iSOwhx { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.iSOwhx { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.iSOwhx { user-select: none; }
.clVOZz { font-size: var(--text-large-size); line-height: var(--text-large-line-height); letter-spacing: var(--text-large-letter-spacing); color: var(--color-text-tertiary); text-align: center; }
u.clVOZz { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.clVOZz { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.clVOZz { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.clVOZz { user-select: none; }
.sGKrJ { font-size: var(--text-small-size); line-height: var(--text-small-line-height); letter-spacing: var(--text-small-letter-spacing); color: var(--color-linear-security); font-weight: var(--font-weight-medium); }
u.sGKrJ { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.sGKrJ { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.sGKrJ { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.sGKrJ { user-select: none; }
.kgOWoU { font-size: var(--title-1-size); line-height: var(--title-1-line-height); letter-spacing: var(--title-1-letter-spacing); color: var(--color-text-tertiary); font-weight: var(--font-weight-medium); }
u.kgOWoU { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.kgOWoU { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.kgOWoU { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.kgOWoU { user-select: none; }
.eLBBsP { color: var(--color-text-primary); }
u.eLBBsP { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.eLBBsP { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.eLBBsP { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.eLBBsP { user-select: none; }
.YLmFf { font-size: var(--title-5-size); line-height: var(--title-5-line-height); letter-spacing: var(--title-5-letter-spacing); text-wrap: balance; font-weight: var(--font-weight-medium); }
u.YLmFf { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.YLmFf { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.YLmFf { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.YLmFf { user-select: none; }
.eXvnRV { font-size: var(--text-small-size); line-height: var(--text-small-line-height); letter-spacing: var(--text-small-letter-spacing); color: var(--color-text-secondary); font-weight: var(--font-weight-medium); }
u.eXvnRV { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.eXvnRV { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.eXvnRV { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.eXvnRV { user-select: none; }
.DbHpe { font-size: var(--text-small-size); line-height: var(--text-small-line-height); letter-spacing: var(--text-small-letter-spacing); color: var(--color-text-tertiary); }
u.DbHpe { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.DbHpe { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.DbHpe { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.DbHpe { user-select: none; }
.hhRTHt { font-size: var(--text-small-size); line-height: var(--text-small-line-height); letter-spacing: var(--text-small-letter-spacing); color: var(--color-text-tertiary); text-align: center; }
u.hhRTHt { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.hhRTHt { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.hhRTHt { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.hhRTHt { user-select: none; }
.duvyMn { font-size: var(--text-small-size); line-height: var(--text-small-line-height); letter-spacing: var(--text-small-letter-spacing); font-weight: var(--font-weight-medium); }
u.duvyMn { text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 1.5px; text-decoration-color: var(--color-text-quaternary); text-underline-offset: 2.5px; }
sup.duvyMn { position: relative; vertical-align: initial; top: -0.5em; font-size: 0.6em; }
code.duvyMn { font-family: var(--font-monospace); font-size: 0.9em; background: none; padding: 0px; }
label.duvyMn { user-select: none; }
.EKmlZ { color: var(--color-text-tertiary); }
.EKmlZ span { color: var(--color-text-primary); }
.hlSuWk { color: var(--color-text-tertiary); }
.hlSuWk span { color: var(--color-text-primary); }